<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" >
  <mat-form-field class="w-full min-w-max mb-2">
    <mat-label>Username</mat-label>
    <input
      matInput
      placeholder="Enter your username"
      type="text"
      formControlName="username"
      />
      <mat-error *ngIf="formGroup.controls.username.hasError('required')">
      This username is required.
    </mat-error>
  </mat-form-field>
  <mat-form-field class="w-full min-w-max mb-2">
    <mat-label>Password</mat-label>
    <input
      matInput
      [type]="hiddenPassword ? 'password' : 'text'"
      formControlName="password"
    />
    <button
      type="button"
      mat-icon-button
      matSuffix
      (click)="hiddenPassword = !hiddenPassword"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hiddenPassword"
    >
      <mat-icon>
        {{ hiddenPassword ? "visibility" : "visibility_off" }}
      </mat-icon>
    </button>
    <mat-error *ngIf="formGroup.controls.password.hasError('required')">
      This password is required.
    </mat-error>
  </mat-form-field>

  <button
    type="submit"
    mat-raised-button
    color="primary"
    class="w-full min-w-max"
    [disabled]="isLoading"
  >
    <div *ngIf="!isLoading">Log In</div>
    <mat-spinner *ngIf="isLoading"  diameter="25" color="accent"></mat-spinner>
  </button>
</form>
